<p>
  Olá! Tudo bem Sr(a) {{ nome }}?
</p>

<p>Para que você possa retirar os livros alugados segue os passos abaixo:</p>

<p> - Primeiro você precisa realizar o pagamento acessando o link abaixo: </p>
<p> LINK PARA PAGAMENTO {{ link_para_pagamento }}</p>

<p> - Segundo, após você realizar o pagamento segue ate a livraria com o seguinte código:</p>
<p> CÓDIGO PARA OS LIVROS SEREM LIBERADOS: {{ codigo }}</p>

<p>Assim que você realizar o pagamento o CÓDIGO será validado no nosso sistema</p>

<p>Você também pode se sentir a vontade em realizar o pagamento presencialmente!</p>

