<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">

  </head>

  <style>
    * {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      color: #333;
    }

    a { 
      text-decoration: none;
      font-weight: 700;
      color: #264653;
    }
  </style>

  <body>
    <p>Bom dia! Sr(a) {{ nome }}</p>

    <p>ATENÇÃO!!!</p>

    <p>No nosso sistema consta que já passou o dia da devolução ({{ data_devolucao }}) dos livros.</p>

    <p>
      Por favor! Para que não seja gerado uma multa e que nem o Sr(a) seja bloqueado no nosso sistema.
      <br>
      <br>
      Faça a devolução dos livros.
      <br>
      <br>
      Desde já agradecemos a atenção.
    </p>
  </body>

</html>